
  <div class="ae-grid au-xs-ta-center au-mb-2">
    
    <div *ngFor="let productos of productosService.productos" 
    class="animated fadeIn ae-grid__item item-lg-2 ae-kappa au-mb-2">
      
    <a 
    [routerLink]="['/item', productos.cod ]" class="animated fadeIn rk-item ae-masonry__item">
      <img src="assets/productos/{{productos.url}}.jpg" alt="">
      <div class="item-meta">
        <h2>{{productos.titulo}}</h2>
        <p>{{productos.categoria}}</p>
      </div>
    </a>
      
    </div>

  </div>
  