
<header class="ae-container-fluid ae-container-fluid--full rk-header ">

  <div class="info-bar showMobile">
    <div class="wrapper text-center">
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-4 au-xs-ta-center">
          <h1 >
            <a routerLink="home">
              <span style="color:#151fb1; font-size: 3,5em;">P</span>
              <span style="color:#19b32e">E</span>
              <span style="color:#b42d15">Q</span>
              <span style="color:#e2d02c">U</span>
              <span style="color:#b42d15">E</span>
              <span style="color:#151fb1">L</span>
              <span style="color:#a7467e">A</span>
              <span style="color:#19b32e">N</span>
              <span style="color:#a7467e">D</span>
              <span style="color:#54bce6">I</span>
              <span style="color:#6c7274">A</span>
              
    
            </a>
          </h1>
        </div> 
        <div class="ae-grid__item item-lg-4 au-xs-ta-center">
          
          <a target="_blank" [href]="_servicio.info.facebook" class="rk-social-btn hvr-icon-forward">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
            </svg>
          </a>
  
          <a target="_blank" [href]="_servicio.info.instagram" class="rk-social-btn ">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
            </svg>
          </a>
          
          
          </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-left au-lg-ta-right">
          
            <span class="ae-u-bold"  style="font-size: small; color: white;"><i class="fas fa-envelope-open-text fa-1x"></i>  
              <a href="mailTo:{{ _servicio.info.email }}" > {{ _servicio.info.email }}</a>
            </span>
            <br>
            <span class="ae-u-bold" style="font-size: small; color: white;"><i class="fas fa-phone-alt fa-1x"></i>  {{ _servicio.info.telefono }} </span>
        <br>
            <span class="ae-u-bold" style="font-size: small; color: white;"><i class="fab fa-whatsapp fa-1x"></i>  {{ _servicio.info.celular }} </span>

        </div>
      </div>
  
</div>
</div>

  
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar" style="
    padding-top: 0.5rem;
">
       
      <!--
      <div><img src="../../../assets/img/logo_Pequelandia.jpg"> </div>
      -->
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li routerLinkActive="active"  class="rk-menu__item">
            <a routerLink="home" class="rk-menu__link">Inicio</a>
          </li>

          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="card" class="rk-menu__link">Card</a>
          </li>
          
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="flex" class="rk-menu__link">Flex</a>
          </li>
          
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="about" class="rk-menu__link">Quienes somos</a>
          </li>
        </ul>

        <div class="rk-search">
          <input type="text" 
                 (keyup.enter)="buscarProducto(txtBuscar.value)"
                 placeholder="Buscar..." 
                 id="urku-search" 
                 class="rk-search-field"
                 #txtBuscar>
          <label for="urku-search">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-search"></use>
            </svg>
          </label>
        </div>

        
      </nav>
    </div>
  </header>