<!--
  <div class="ae-grid au-xs-ta-center au-mb-4">
    
    <div *ngFor="let persona of infoService.equipo" class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
      <img [src]="persona.url" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">{{ persona.nombre }}</h5>
      <p class="ae-u-bolder au-mb-3">{{ persona.subtitulo }}</p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{ persona.frase }}</p>
      <a target="_blank" href="https://twitter.com/{{persona.twitter}}" class="ae-u-bolder au-underline">{{ persona.twitter }}</a>
    </div>

  </div>
  -->
  <div class="img_About">
    
      <img src="../../../assets/img/logo_Pequelandia.jpg"> 

    
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-6">
      <h6 class="ae-u-boldest">Sobre nosotros</h6>
      <p class="au-lh-3">Venta de ropa para bebé y niños, Cojín de Embarazo,Lactancia y Anti-reflujo,Set de Cuna y Moisés, Set de baño.Regalos para Baby Shower, gran cantidad de ropa novedosa y clásica, además de accesorios para tu bebé. </p>
      <p class="au-lh-3">Venta de ropa y accesorios de 0 a 2 años, cojín de embarazo,lactancia y anti-reflujo,set de cuna y moisés, set de baño,regalos baby shower,ropa novedosa y clásica...      </p>
    </div>
    <div class="ae-grid__item--alt item-lg-6">
      <h6 class="ae-u-boldest">Nuestra misión</h6>
      <p class="au-lh-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="ae-grid__item--alt item-lg-6">
      <h6 class="ae-u-boldest">Nuestros clientes</h6>
      <p class="au-lh-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
      <p class="au-lh-3">Nemo enim ipsam voluptatem quia voluptas</p>
    </div>
    <div class="ae-grid__item--alt item-lg-6">
      <h6 class="ae-u-boldest">Como llegar</h6>
      <p class="au-lh-3"><i class="fas fa-map-marker-alt"></i>
        Avda. Libertador Bernardo Ohiggins 959 local 75, Santiago de Chile</p>
      <p class="au-lh-3">
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d26633.010829474024!2d-70.67836070412892!3d-33.44601446959576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sAvda.%20Libertador%20Bernardo%20Ohiggins%20959%20local%2075%2C%20Santiago%20de%20Chile!5e0!3m2!1ses!2scl!4v1585539947109!5m2!1ses!2scl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
  </div>
  <p class="au-flex au-pt-4 group-buttons">
    <a routerLink="home" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Ver nuestros productos<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></p>
