
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
    
    <a *ngFor="let productos of productosService.productos" 
    [routerLink]="['/item', productos.cod ]" class="animated fadeIn rk-item ae-masonry__item">
      <img src="assets/productos/{{productos.url}}.jpg" alt="">
      <div class="item-meta">
        <h2>{{productos.titulo}}</h2>
        <p>{{productos.categoria}}</p>
      </div>
    </a>
      
      
  </div>
  <div class="btn-whatsapp">
    <a href="https://api.whatsapp.com/send?phone=569991301252&text=Hola!%20Quiero%20elr%20valor%20de%20tus%20productos!" target="_blank">
    <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
    </a>
    </div>

</section>
